@layer base {
  @import url("./reset.css");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primary: #8a2be2;
  --Dark-01: #111111;
  --Border-colour: #444444;
  --Sub-Background: #1e1e1e;
  --Grey-02: #afafaf;
  --Grey-04: #ebebeb;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

* {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: none !important;
  @apply bg-none font-space;
}

body:before {
  content: "";
  @apply bg-[#111] inset-0 fixed z-[-2];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fra {
  /* box-shadow: inset 0 0 0 280px rgba(255,255,255,0.1); */
  box-shadow: 0 0 0px 400px rgba(138, 43, 226, 0.5);
}

/* .shimmer:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, transparent 30%, #fafafa20 50%, transparent 70%);
  background-size: 300%;
  background-position-x: 110%;
  animation-name: shimmer;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
     background-position-x: 110%;
  }
  50%,100% {
    background-position-x: -10%;
  }
} */

.shimmer:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    transparent,
    #fafafa20 50%,
    transparent
  );
  animation-name: shimmer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform: translateX(-100%);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  66%,
  100% {
    transform: translateX(100%);
  }
}

.gradient-ball {
  position: absolute;
  width: 471px;
  height: 471px;
  max-width: 90vw;
  max-height: 90vw;
  background: rgba(138, 43, 226, 0.7);
  opacity: 0.5;
  /* filter: blur(247px); */
  @apply blur-[90vw] min-[471px]:blur-[247px] rounded-full;
}
