.herosection {
  background-size: auto 90vh;
  background-position: right bottom;
  background-repeat: no-repeat;
  @apply lg:bg-[url('/heroImage.png')];
}

.getBtn {
  border-radius: 8px;
  border: 1px solid var(--Primary, #8a2be2);
  background: linear-gradient(180deg, #e22bcc 0%, #fbb03b 95%);
  height: 56px;
  padding: 12px 18px 12px 20px;
  justify-content: center;
  align-items: center;
}

.txt_grd {
  background: var(--Gradient, linear-gradient(180deg, #8a2be2 0%, #fbb03b 70%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}

.txt_grd2 {
  background: var(
    --Gradient,
    linear-gradient(180deg, #E22BCC 44.27%, #fbb03b 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}

.svgList::after {
  content: "1";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  color: white;
  margin-left: -2.5px;
}

.svgList[data-num="1"]::after {
  content: "1";
}

.svgList[data-num="2"]::after {
  content: "2";
}
.svgList[data-num="3"]::after {
  content: "3";
}
.svgList[data-num="4"]::after {
  content: "4";
}

.arrow_right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #8a2be2;
}

.arrow_left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #8a2be2;
}

.roadmap_top::after,
.roadmap_bottom::before,
.roadmap::before,
.roadmap::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 14.521px;
  height: 14.521px;
  background: #8a2be2;
  border-radius: 50%;
}

.roadmap_top::after,
.roadmap::after {
  top: 0;
  transform: translate(-50%, -8px);
}

.roadmap_bottom::before,
.roadmap::before {
  bottom: 0;
  transform: translate(-50%, 8px);
}
