.root {
  display: flex;
  padding: 4px 16px;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Border-colour, #444);
  background-color: var(--Transparent-black, rgba(30, 30, 30, 0.7));
  @apply h-16 sm:h-20;
}

.innerroot {
  flex: 1;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 5px 6px;
  background: var(--Transparent-black, rgba(30, 30, 30, 0.7));
  backdrop-filter: blur(25px);
}

.play,
.otherIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  @apply w-10 h-10 sm:w-[50px] sm:h-[50px];
}

.play {
  background-color: var(--Border-colour);
}

.otherIcon {
  background: var(--Dark-01, #111);
  @apply hidden md:flex;
}

.otherIcon svg {
  opacity: 0.4;
}
