.root {
  @apply w-full;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}
.control {
  @apply bg-[#444444] text-white opacity-100 w-9 h-9 border-none shadow-2xl;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
