.input {
  @apply bg-transparent border-[#444] focus:border-[#8A2BE2] placeholder:text-[#444] h-12 py-2 px-3.5 rounded-lg;
}

.required {
  @apply text-[#8A2BE2];
}

.label {
  @apply text-base mb-1.5;
}

.input2 {
  @apply bg-transparent border-[#444] focus:border-[#8A2BE2] placeholder:text-[#444] h-12 py-2 pl-3.5 rounded-lg;
}

.section2 {
  width: max-content;
  @apply shrink-0 px-2;
}

.dropdown {
  background: var(--Sub-Background, #1e1e1e);
}

.option:hover {
  background: rgba(0, 0, 0, 0.3);
}

.checkbox_input {
  @apply bg-transparent checked:bg-[var(--mantine-color-purple-filled)];
}
