.getBtn {
  border-radius: 8px;
  border: 1px solid var(--Primary, #8a2be2);
  background: linear-gradient(180deg, #8a2be2 -14.29%, rgba(138, 43, 226, 0) 80.36%);
  height: 56px;
  padding: 12px 18px 12px 20px;
  justify-content: center;
  align-items: center;
}

.txt_grd {
  background: linear-gradient(180deg, #8a2be2 0%, rgba(255, 87, 34, 0.35) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
}

.landing {
  scroll-behavior: smooth;
  @apply relative;
}

.svgList::after {
  content: '1';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  color: white;
  margin-left: -2.5px;
}

.svgList[data-num='1']::after {
  content: '1';
}

.svgList[data-num='2']::after {
  content: '2';
}
.svgList[data-num='3']::after {
  content: '3';
}
.svgList[data-num='4']::after {
  content: '4';
}
