.details {
  @apply mt-4 mb-3 flex flex-wrap gap-5 justify-between;
}

.aspectRatio {
  height: 75vh;
  min-height: 400px;
  max-height: calc(100vh - 160px);
  @apply z-0 absolute top-0 left-0 w-full overflow-hidden;
}

.greyButton {
  background: var(--Border-colour, #444);
  @apply px-5 py-3 sm:py-4 sm:px-8 h-max rounded-[32px] text-[1rem] sm:text-[1.125rem];
}

.btnGet {
  @apply py-3.5 px-5 sm:py-4 sm:px-8 h-max rounded-lg;
}

.arrowBack {
  background: var(--Transparent-black, rgba(30, 30, 30, 0.7));
  @apply w-10 h-10 sm:w-12 sm:h-12 rounded-full;
}
