.bgroot {
  @apply relative mb-8 sm:h-[25vw] min-h-[250px] sm:min-h-[300px] sm:max-h-[500px] flex items-end px-5 sm:px-8 pb-11  pt-10;
}

.title {
  letter-spacing: -0.25px;
  @apply font-bold text-[32px] leading-[40px] sm:text-[57px] sm:leading-[64px] mb-2;
}

.play {
  border-radius: 50px;
  @apply bg-[#8a2be2] w-12 h-12 sm:w-16 sm:h-16 flex justify-center items-center relative z-[1];
}

.widget {
  width: 100%;
  height: max-content;
  padding-bottom: 100px;
}

@media (min-width: 1024px) {
  .widget {
    display: block;
    margin-top: -2px;
    width: 280px;
    position: sticky;
    top: 20px;
  }
}

@media (min-width: 1280px) {
  .widget {
    width: 310px;
    flex-shrink: 0;
  }
}

.indicator {
  width: 12px;
  height: 3px;
  transition: width 250ms ease;

  &[data-active] {
    width: 60px;
    background-color: #8a2be2;
  }
}
