.section {
  background-color: var(--mantine-color-body);
  @apply px-[4.5%] py-[13px] min-[375px]:px-5 lg:px-8 md:pt-8 md:pb-7;
  width: 100%;
}

.appNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-sub-bg='true'] ~ div > .section {
  /* background-color: rgba(16, 25, 40, 0.7);
  backdrop-filter: blur(10px); */
  display: none;
}

.searchbar {
  height: 40px;
  font-size: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 32px;
  background: var(--Sub-Background, #1e1e1e);
}

.filterIcon {
  flex-shrink: 0;
}

@media (min-width: 375px) {
  .searchbar {
    height: 50px;
  }
  .filterIcon {
    margin: 8px;
  }
}
