.root {
  /* min-width: 238px; */
  height: max-content;
  padding: 12px 16px;
  border-radius: 0px 0px 8px 8px;
  background: var(--Sub-Background, #1e1e1e);
  box-shadow: var(--mantine-shadow-sm);
  border-radius: 8px;
  border: 0.5px solid var(--Border-colour, #444);
  overflow: hidden;
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title2 {
  font-family: Roboto, system-ui;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.title3 {
  font-family: Space Grotesk;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

.title2,
.title3 {
  color: var(--Grey-02, #afafaf);
  font-weight: 500;
}

.button {
  width: 100%;
  border-radius: 8px;
}
