.appNav {
  background-color: var(--mantine-color-body);
  padding: 13px 4%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &[data-sub-bg='true'] {
    background-color: rgba(16, 25, 40, 0.7);
  }

  @media (min-width: 375px) {
    padding: 13px 20px;
  }

  @media (min-width: 1024px) {
    padding: 32px 32px 28px;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  border-radius: 32px;
  background: var(--Sub-Background, #1e1e1e);
}
